body{
    width: 100%;
}
.wrapper {
    font-family: Arial, Helvetica, sans-serif;
}
header, .subheader, .subheader-description {
    background: linear-gradient(180deg, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.3)) no-repeat fixed, url(../foundation-landing-page/background-header.jpg) no-repeat center center fixed;
    background-size: cover; 
    color: #f9faf8;
    text-shadow: 0px 0px 5px black, 0px 0px 20px black, 0px 0px 40px white; 
}
.logo-section img{
    width: 100px;
    height: auto;
}
.image-container img {
    width: 200px;
    height: 250px;
}
.links-section a {
    text-decoration: wavy;
    color: #f9faf8;
}